config/user/.config/xfce4/xfconf/xfce-perchannel-xml/*.*
config/user/.icons/Windows/icon-theme.cache
doc/Downloads/
doc/Downloads/*
doc/Videos/
doc/Videos/*
doc/Pictures/
doc/Pictures/*
doc/Music/
doc/Music/*
doc/Documents/
doc/Documents/*
doc/hts-cache/
doc/hts-cache/*
doc/hts-log.txt
doc/cookies.txt
doc/Web/archeagecodex.com/
doc/archeagecodex.com/
run/setup/
run/setup/*
run/bin/
run/bin/*
raw/
dev/*
tmp/*
