config/user/.config/xfce4/xfconf/xfce-perchannel-xml/*.*
config/user/.icons/Windows/icon-theme.cache
doc/Downloads/
doc/Videos/
doc/Pictures/
doc/Music/
doc/Documents/
doc/hts-cache/
doc/hts-log.txt
doc/cookies.txt
doc/Web/archeagecodex.com/
doc/archeagecodex.com/
run/setup/
run/bin/
raw/
dev/
tmp/
