config/user/.config/xfce4/xfconf/xfce-perchannel-xml/
config/user/.icons/Windows/icon-theme.cache
doc/Downloads/
doc/Videos/
doc/Pictures/
doc/Music/
doc/Documents/
run/setup/
run/bin/
raw/
dev/
tmp/
