[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/administrador/Desktop/albion-online-setup.url]
row=0
col=0

[/home/administrador/Desktop/Google Chrome.desktop]
row=1
col=0

[22e6315c-316a-487e-b88a-1354b081075d]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/administrador]
row=5
col=0

