[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/administrador/Desktop/Project Zomboid.desktop]
row=5
col=0

[/home/administrador/Desktop/Google Chrome.desktop]
row=2
col=0

[/home/administrador/Desktop/steam.desktop]
row=6
col=0

[/home/administrador/Desktop/Colony Survival.desktop]
row=0
col=0

[/home/administrador/Desktop/Spore Galactic Adventures.desktop]
row=1
col=0

[/home/administrador/Desktop/Necesse.desktop]
row=4
col=0

[/home/administrador/Desktop/Terraria.desktop]
row=9
col=0

[/home/administrador/Desktop/Mount & Blade Warband.desktop]
row=8
col=0

[/home/administrador/Desktop/Factorio.desktop]
row=7
col=0

[/home/administrador/Desktop/chrome-egmafekfmcnknbdlbfbhafbllplmjlhn-Default.desktop]
row=3
col=0

[22e6315c-316a-487e-b88a-1354b081075d]
row=3
col=1

[Trash]
row=2
col=1

[/]
row=1
col=1

[/home/administrador]
row=0
col=1

