[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/administrador/Desktop/Protontricks.desktop]
row=6
col=1

[/home/administrador/Desktop/Terraria.desktop]
row=9
col=0

[/home/administrador/Desktop/Robocraft.desktop]
row=7
col=1

[/home/administrador/Desktop/Project Zomboid.desktop]
row=13
col=0

[/home/administrador/Desktop/Mount & Blade Warband.desktop]
row=8
col=0

[/home/administrador/Desktop/Discord.desktop]
row=14
col=3

[/home/administrador/Desktop/imagens.cadastra.ai.md]
row=14
col=0

[/home/administrador/Desktop/license.jar]
row=16
col=0

[/home/administrador/Desktop/Jamovi.desktop]
row=0
col=1

[/home/administrador/Desktop/Factorio.desktop]
row=7
col=0

[/home/administrador/Desktop/Colony Survival.desktop]
row=11
col=0

[/home/administrador/Desktop/Albion Online.desktop]
row=1
col=1

[/home/administrador/Desktop/consultas]
row=0
col=0

[/home/administrador/Desktop/license_lib]
row=15
col=0

[/home/administrador/Desktop/license]
row=2
col=1

[/home/administrador/Desktop/ArcheRage NA.desktop]
row=12
col=0

[/home/administrador/Desktop/NIGHT CROWS Launcher.lnk]
row=5
col=1

[/home/administrador/Desktop/Android Studio.desktop]
row=4
col=1

[/home/administrador/Desktop/Google Chrome.desktop]
row=1
col=0

[/home/administrador/Desktop/Necesse.desktop]
row=10
col=0

[/home/administrador/Desktop/steam.desktop]
row=6
col=0

[/home/administrador/Desktop/Proton 9.0.desktop]
row=3
col=1

[22e6315c-316a-487e-b88a-1354b081075d]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/administrador]
row=5
col=0

